@model IEnumerable<Corona_B.I.E.R_V1.Models.ViewHourModel>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandbyHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StandbyHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncidentHours)
            </td>
        </tr>
}
    </tbody>
</table>
<div>

    <a class="dashboardbutton" asp-controller="Hour" asp-action="ViewHours">Bekijk uren</a>
</div>
