@model IEnumerable<Corona_B.I.E.R_V1.Models.ViewHourModel>

    @{
    Layout = "~/Views/Shared/_LayoutEmployeesView.cshtml";
    ViewData["Title"] = "ViewHours";
    }

    <div class="content bg_white_block">
        <div class="row">
            <div class="col-md-6">
                <h1>Beheer Hours</h1>
            </div>
            <div class="col-md-3 offset-3">
                <p>
                    <a asp-action="RegisterHour" class="btn btn-lg btn-primary btn-block">Create New</a>
                </p>
            </div>

        </div>

        <div class="row">


            <table class="table table-striped">
                <thead class="thead-ligh">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Employee_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StandbyHours)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IncidentHours)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TimeStamp)
                        </th>
                        
                        <th scope="col">Beheer</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StandbyHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IncidentHours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeStamp)
                        </td>
                         <td>@*
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) <br>
                             @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) <br>>*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
                </tbody>
            </table> 

        </div>
    </div>

