@using System.Transactions
@using Corona_B.I.E.R_V1.ExtensionMethods
@model Corona_B.I.E.R_V1.Models.IncidentDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "DetailsIncident";
    var Webroot = ViewData["webroot"];
    bool status = true;
    bool isworkingon = false;
}
@foreach (var step in Model.steps)
{
    if (step.status != "done")
    {
        status = false;
    }
}

@foreach (var employee in Model.employees)
{
    if (Context.GetCurrentEmployeeModel().Id == employee.Id)
    {
        isworkingon = true;
    }
}
<h1>Details Incident</h1>

<a class="incidentbutton" asp-action="EditIncident" asp-route-id="@Model.id">Aanpassen</a>
@*@Html.ActionLink("Aanpassen", "EditIncident", new { id= Model.id})*@


<div>
    <dl class="row">
        <div class="col-md-5 bg_white_incident">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerEmail)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerEmail)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Context)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Context)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </div>
    </dl>
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            Titel
        </th>
        <th>
            Stapnummer
        </th>
        <th>
            Status
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.steps)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stepnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a class="incidentbutton" asp-controller="IncidentStep" asp-action="DetailsStep" asp-route-id="@item.id">Details</a>
                @*@Html.ActionLink("Details", "DetailsStep", "IncidentStep", new {id = item.id}) |*@
                @Html.ActionLink("Verwijderen", "DeleteStep", "IncidentStep", new {id = item.id, incident_Id = Model.id}, new{@class = "incidentbutton"})
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="movedown">
    
    <div>
        @if (Model.Status == "open")
        {
            if (status == false)
            {
                <div>
                    @Html.ActionLink("Voeg stap toe", "CreateStep","IncidentStep", new { id = Model.id }) |
                    <a asp-action="ViewIncidents">Back to List</a>
                </div>
            }
            else
            {
                <div>
                    @Html.ActionLink("Close", "CloseIncident", new { id = Model.id }) |
                    @Html.ActionLink("Voeg stap toe", "CreateStep","IncidentStep", new { id = Model.id }) |
                    <a asp-action="ViewIncidents">Terug naar lijst</a>
                </div>
            }
        }
        @if (Model.Status == "closed")
        {
            <div>
                <a asp-action="ViewIncidents">Back to List</a>
            </div>
        }

    </div>
    <h5>Werknemers</h5>
    <div>
        @foreach (var item in Model.employees)
        {
            var photoPath = "img/ProfilePictures/" + (item.ProfilePicturePath ?? "DefaultUserPicture.png");
            <div>
                <span>@item.Firstname @item.Prefix @item.Lastname</span>
                <img class="user_img" src="~/@photoPath" />
            </div>
        }
    </div>
    @if (isworkingon == false)
    {
        <div>
            @Html.ActionLink("Begin werken aan incident", "AddEmployeeToIncident", new {id = Model.id})
        </div>
    }

</div>