@using Corona_B.I.E.R_V1.ExtensionMethods
@model Corona_B.I.E.R_V1.Models.IncidentStepDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "DetailsStep";
    bool isWorkingOn = false;
}
@foreach (var employee in Model.employee)
{
    if (Context.GetCurrentEmployeeModel().Id == employee.Id)
    {
        isWorkingOn = true;
    }
}
<h1>Details Stap</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.incident_id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.incident_id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.context)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.context)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Voornaam
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Foto
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.employee)
        {
            var photoPath = "img/ProfilePictures/" + (item.ProfilePicturePath ?? "DefaultUserPicture.png");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname)
                </td>
                <td>
                    <img class="user_img" src="~/@photoPath" />
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.status == "pending")
{
    <div>
        @Html.ActionLink("Begin stap", "StartStep", new { id = Model.id }) |
        @Html.ActionLink("Terug naar incident", "DetailsIncident", "Incident", new { id = Model.incident_id })
    </div>
}
@if (Model.status == "busy")
{
    if (isWorkingOn)
    {
        <div>
            @Html.ActionLink("Sluit stap", "CloseStep", new { id = Model.id }) |
            @Html.ActionLink("Stop werken", "RemoveEmployeeFromStep", new { id = Model.id }) |
            @Html.ActionLink("Terug naar incident", "DetailsIncident", "incident", new { id = Model.incident_id })
        </div>
    }
    else
    {
        <div>
            @Html.ActionLink("Close", "CloseStep", new { id = Model.id }) |
            @Html.ActionLink("Werk mee", "AddEmployeeToStep", new { id = Model.id }) |
            @Html.ActionLink("Terug naar incident", "DetailsIncident", "incident", new { id = Model.incident_id })
        </div>
    }
}
@if (Model.status == "done")
{
    <div>
        @Html.ActionLink("Terug naar incident", "DetailsIncident", "Incident", new { id = Model.incident_id })
    </div>
}

